openapi: 3.1.0
x-stoplight:
  id: yzlb4hrm70o4t
info:
  title: Chronicler 2
  version: '0.0'
  summary: An API that shows periodic information regarding Blaseball.
  description: |-
    An API that shows periodic information regarding Blaseball.

    Currently there are 3 APIs:

    | Name | Description | Generic |
    | :-- | :-- | :-- |
    | [/game-events](Chronicler2.v0.yaml/paths/~1game-events) | Regarding events that happened during games | No |
    | [/versions](Chronicler2.v0.yaml/paths/~1versions) | Retrieve *chronological* data for a given kind of entity. | Yes |
    | [/entities](Chronicler2.v0.yaml/paths/~1entities) | Retrieve *latest* data for a given kind of entity. | Yes |

    **Generic** APIs return different kinds of data based on the value behind `?kind=` - For example, to get players you do `/versions?kind=player`. As a result, they *require* a kind to be passed.

    `/versions` should be used if you want to show how data changed over time - whereas `/entities` should be used when you only care about the *latest* data.

    Each response also has common data like the following:

    | attribute | description |
    | --------: | :---------- |
    | `next_page` | used to get the next page using `?page=` |
    | `items[...].kind` | the kind of the data |
    | `items[...].entity_id` | ID of the entity - useful to get data for a specific entity - such as a player's data over time. |
    | `items[...].valid_from` | when the data was taken |
    | `items[...].valid_to` | when the data became out of date |
  contact:
    name: Astrid
    url: 'https://github.com/xSke/Chronicler/tree/main'
servers:
  - url: 'https://api2.sibr.dev/chronicler/v0/'
paths:
  /game-events:
    get:
      summary: Game Events
      tags: []
      responses:
        '200':
          description: Schema may not be 100% accurate - `changedState` will have different values based on the event that occurred.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    game_id:
                      type: string
                    timestamp:
                      type: string
                    data:
                      type: object
                      properties:
                        changedState:
                          type: object
                          properties:
                            balls:
                              type: integer
                            baserunners:
                              type: array
                              items:
                                type: object
                                properties:
                                  base:
                                    type: integer
                                  id:
                                    type: string
                                  name:
                                    type: string
                            batter:
                              type: {}
                            started:
                              type: boolean
                            strikes:
                              type: integer
                        displayDelay:
                          type: integer
                        displayOrder:
                          type: integer
                        displayText:
                          type: string
                        displayTime:
                          type: string
                x-examples:
                  Example 1:
                    - game_id: 6df052eb-8f0e-432b-a6e5-98a4518a1607
                      timestamp: '2023-01-09T15:02:50.118Z'
                      data:
                        changedState: {}
                        displayDelay: 4
                        displayOrder: 0
                        displayText: Play Ball!
                        displayTime: '2023-01-09T15:02:50.118Z'
      operationId: get-game-events
      description: Retrieve past game events.
      parameters:
        - schema:
            type: string
            example: burp
          in: query
          name: search
          description: Filter for specific keywords in events.
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
          in: query
          name: order
          description: How to order the data.
  /versions:
    get:
      summary: Versions
      tags: []
      operationId: get-versions
      parameters:
        - $ref: '#/components/parameters/kind'
        - $ref: '#/components/parameters/order'
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/page'
      description: |
        Retrieve data of a certain *kind* over time. For just the latest data, use [/entities](Chronicler2.v0.yaml/paths/~1entities).

        Click on a specific kind to see what this endpoint would return.

        | kind | description |
        | ---: | :---------- |
        | [`game`](Chronicler2.v0.yaml/components/schemas/Game)                                   | Game data. |
        | [`player`](Chronicler2.v0.yaml/components/schemas/Player)                               | Player data. |
        | [`team`](Chronicler2.v0.yaml/components/schemas/Team)                                   | Team data. |
        | [`flagsmith`](Chronicler2.v0.yaml/components/schemas/Flagsmith)                         | Feature flags. |
        | [`ticker`](Chronicler2.v0.yaml/components/schemas/Ticker)                               | Ticker messages. |
        | [`season_elections`](Chronicler2.v0.yaml/components/schemas/SeasonElections)            | Election data. |
        | [`season_schedule`](Chronicler2.v0.yaml/components/schemas/SeasonSchedule)              | Schedule data. (Unknown) |
        | [`season_schedule_hourly`](Chronicler2.v0.yaml/components/schemas/SeasonScheduleHourly) | Hourly schedule data. (Unknown) |
        | [`temporal`](Chronicler2.v0.yaml/components/schemas/Temporal)                           | Temporal (in-game-entity) data. |
        | [`post`](Chronicler2.v0.yaml/components/schemas/Post)                                   | Post data. |
        | [`game_bet_data`](Chronicler2.v0.yaml/components/schemas/GameBetData)                   | Game betting data (like odds) |
        | [`box_score`](Chronicler2.v0.yaml/components/schemas/BoxScore)                          | Box score data. (runs per inning) |
        | [`sim`](Chronicler2.v0.yaml/components/schemas/Sim)                                     | Simulation data. |
        | [`season_tournaments`](Chronicler2.v0.yaml/components/schemas/SeasonTournaments)        | Season tournament data. |
        | [`tournament`](Chronicler2.v0.yaml/components/schemas/Tournament)                       | Single tournament data. |
        | [`asset`](Chronicler2.v0.yaml/components/schemas/Asset)                                 | Asset (site-content) data. |
        | [`forbidden_book`](Chronicler2.v0.yaml/components/schemas/ForbiddenBook)                | Forbidden book data. |
  /entities:
    get:
      summary: Entities
      tags: []
      responses: {}
      operationId: get-entities
      parameters:
        - $ref: '#/components/parameters/kind'
        - $ref: '#/components/parameters/order'
        - $ref: '#/components/parameters/at'
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/page'
      description: |-
        Retrieve latest data of a certain *kind*. For how data changes over time, look to [/versions](Chronicler2.v0.yaml/paths/~1versions).

        Click on a specific kind to see what this endpoint would return.

        | kind | description |
        | ---: | :---------- |
        | [`game`](Chronicler2.v0.yaml/components/schemas/Game)                                   | Game data. |
        | [`player`](Chronicler2.v0.yaml/components/schemas/Player)                               | Player data. |
        | [`team`](Chronicler2.v0.yaml/components/schemas/Team)                                   | Team data. |
        | [`flagsmith`](Chronicler2.v0.yaml/components/schemas/Flagsmith)                         | Feature flags. |
        | [`ticker`](Chronicler2.v0.yaml/components/schemas/Ticker)                               | Ticker messages. |
        | [`season_elections`](Chronicler2.v0.yaml/components/schemas/SeasonElections)            | Election data. |
        | [`season_schedule`](Chronicler2.v0.yaml/components/schemas/SeasonSchedule)              | Schedule data. (Unknown) |
        | [`season_schedule_hourly`](Chronicler2.v0.yaml/components/schemas/SeasonScheduleHourly) | Hourly schedule data. (Unknown) |
        | [`temporal`](Chronicler2.v0.yaml/components/schemas/Temporal)                           | Temporal (in-game-entity) data. |
        | [`post`](Chronicler2.v0.yaml/components/schemas/Post)                                   | Post data. |
        | [`game_bet_data`](Chronicler2.v0.yaml/components/schemas/GameBetData)                   | Game betting data (like odds) |
        | [`box_score`](Chronicler2.v0.yaml/components/schemas/BoxScore)                          | Box score data. (runs per inning) |
        | [`sim`](Chronicler2.v0.yaml/components/schemas/Sim)                                     | Simulation data. |
        | [`season_tournaments`](Chronicler2.v0.yaml/components/schemas/SeasonTournaments)        | Season tournament data. |
        | [`tournament`](Chronicler2.v0.yaml/components/schemas/Tournament)                       | Single tournament data. |
        | [`asset`](Chronicler2.v0.yaml/components/schemas/Asset)                                 | Asset (site-content) data. |
        | [`forbidden_book`](Chronicler2.v0.yaml/components/schemas/ForbiddenBook)                | Forbidden book data. |
components:
  schemas:
    Game:
      type: object
      x-examples:
        Example 1:
          items:
            - kind: game
              entity_id: e1cfeb6f-3b21-4efc-bc41-baf0233b9be1
              valid_from: '2023-01-09T15:56:38.363078Z'
              valid_to: null
              data:
                awayPitcher:
                  id: 3be2c730-b351-43f7-a832-a5294fe8468f
                  name: Amaya Jackson
                awayTeam:
                  emoji: '0x1F405'
                  gameWinner: false
                  id: 747b8e4a-7e50-4638-a973-ea7950a3e739
                  name: Hades Tigers
                  nickname: Hades
                  primaryColor: '#5c1c1c'
                  secondaryColor: '#e83622'
                  shorthand: TGRS
                  slogan: Never Look Back.
                cancelled: false
                complete: true
                created: '2023-01-05T23:18:18.967Z'
                day: 0
                deleted: false
                gameEventBatches:
                  - batchData: '[{"displayText":"","displayTime":"2023-01-09T15:55:30.483Z","displayDelay":4,"displayOrder":990,"changedState":{"teamAtBat":"HOME","pitcher":{"id":"3be2c730-b351-43f7-a832-a5294fe8468f","name":"Amaya Jackson"},"batter":{"id":"d89da2d2-674c-4b85-8959-a4bd406f760a","name":"Fish Summer"},"defenders":[{"id":"1dc1b683-baf8-4a3d-9038-20eaac71f5d8","name":"Steals Mondegreen"},{"id":"8cd06abf-be10-4a35-a3ab-1a408a329147","name":"Gloria Bugsnax"},{"id":"41bdb527-1fb2-487d-8237-093958e737e4","name":"Zephyr McCloud"},{"id":"acdad85c-e643-48e0-a62a-8a76685b86ef","name":"Clyde Fetch"},{"id":"4ca52626-58cd-449d-88bb-f6d631588640","name":"Velasquez Alstott"},{"id":"226c36fa-5ca6-48ba-9446-c0c2bf35c7c4","name":"Isla Solo"},{"id":"7b55d484-6ea9-4670-8145-986cb9e32412","name":"Stevenson Heat"},{"id":"20395b48-279d-44ff-b5bf-7cf2624a2d30","name":"Adrian Melon"},{"id":"b4bb9361-212e-4db1-b3d4-45b71bf80b6b","name":"Eddie Tumblehome"}],"started":true}},{"displayText":"Fish Summer hits the pitch to Deep Center Field...","displayTime":"2023-01-09T15:55:34.483Z","displayDelay":4,"displayOrder":993,"changedState":{}},{"displayText":"Isla Solo makes a simple catch.","displayTime":"2023-01-09T15:55:38.483Z","displayDelay":4,"displayOrder":994,"changedState":{"balls":0,"strikes":0,"batter":null,"outs":3,"started":true}},{"displayText":"Game Over.","displayTime":"2023-01-09T15:55:42.483Z","displayDelay":4,"displayOrder":995,"changedState":{"inning":8,"topOfInning":false,"pitcher":null,"batter":null,"defenders":[],"baserunners":[],"balls":0,"strikes":0,"outs":0,"started":true,"complete":true}}]'
                    batchStep: 37
                    gameId: e1cfeb6f-3b21-4efc-bc41-baf0233b9be1
                gameLoserId: 747b8e4a-7e50-4638-a973-ea7950a3e739
                gameStates:
                  - awayScore: 0
                    balls: 0
                    ballsNeeded: 4
                    baserunners: []
                    batter: null
                    homeScore: 2
                    inning: 8
                    outs: 0
                    outsNeeded: 3
                    pitcher: null
                    shame: false
                    step: 996
                    strikes: 0
                    strikesNeeded: 3
                    teamAtBat: HOME
                    topOfInning: false
                    totalBases: 3
                gameWinnerId: bfd38797-8404-4b38-8b82-341da28b1f83
                homePitcher:
                  id: c09e66b3-5847-4cbb-aeba-2b70e7bafedb
                  name: Premjeet Liu
                homeTeam:
                  emoji: '0x1F45F'
                  gameWinner: true
                  id: bfd38797-8404-4b38-8b82-341da28b1f83
                  name: Charleston Shoe Thieves
                  nickname: Shoe Thieves
                  primaryColor: '#ffce0a'
                  secondaryColor: '#ffce0a'
                  shorthand: SHOE
                  slogan: Your Kicks are Our Kicks
                id: e1cfeb6f-3b21-4efc-bc41-baf0233b9be1
                numberInSeries: 1
                seasonId: cd1b6714-f4de-4dfc-a030-851b3459d8d1
                seriesLength: 3
                startTime: '2023-01-09T15:00:00.000Z'
                started: false
                updated: '2023-01-09T15:55:42.535Z'
                weather:
                  id: 8b260bb1-2b25-44af-9de4-2e97894b02f0
                  name: Horizon
                  weatherEffects: []
      description: Represents game data at a specific point in time.
      x-tags:
        - chronicler
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              kind:
                type: string
              entity_id:
                type: string
              valid_from:
                type: string
                format: date-time
              valid_to:
                type:
                  - string
                  - 'null'
                format: date-time
              data:
                type: object
                properties:
                  awayPitcher:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                  awayTeam:
                    type: object
                    properties:
                      emoji:
                        type: string
                      gameWinner:
                        type: boolean
                      id:
                        type: string
                      name:
                        type: string
                      nickname:
                        type: string
                      primaryColor:
                        type: string
                      secondaryColor:
                        type: string
                      shorthand:
                        type: string
                      slogan:
                        type: string
                  cancelled:
                    type: boolean
                  complete:
                    type: boolean
                  created:
                    type: string
                  day:
                    type: integer
                  deleted:
                    type: boolean
                  gameEventBatches:
                    type: array
                    items:
                      type: object
                      properties:
                        batchData:
                          type: string
                        batchStep:
                          type: integer
                        gameId:
                          type: string
                  gameLoserId:
                    type: string
                  gameStates:
                    type: array
                    items:
                      type: object
                      properties:
                        awayScore:
                          type: integer
                        balls:
                          type: integer
                        ballsNeeded:
                          type: integer
                        baserunners:
                          type: array
                          items:
                            type: object
                        batter:
                          type: 'null'
                        homeScore:
                          type: integer
                        inning:
                          type: integer
                        outs:
                          type: integer
                        outsNeeded:
                          type: integer
                        pitcher:
                          type: 'null'
                        shame:
                          type: boolean
                        step:
                          type: integer
                        strikes:
                          type: integer
                        strikesNeeded:
                          type: integer
                        teamAtBat:
                          type: string
                        topOfInning:
                          type: boolean
                        totalBases:
                          type: integer
                  gameWinnerId:
                    type: string
                  homePitcher:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                  homeTeam:
                    type: object
                    properties:
                      emoji:
                        type: string
                      gameWinner:
                        type: boolean
                      id:
                        type: string
                      name:
                        type: string
                      nickname:
                        type: string
                      primaryColor:
                        type: string
                      secondaryColor:
                        type: string
                      shorthand:
                        type: string
                      slogan:
                        type: string
                  id:
                    type: string
                  numberInSeries:
                    type: integer
                  seasonId:
                    type: string
                  seriesLength:
                    type: integer
                  startTime:
                    type: string
                  started:
                    type: boolean
                  updated:
                    type: string
                  weather:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      weatherEffects:
                        type: array
                        items:
                          type: object
        next_page:
          type: string
    Player:
      type: object
      x-examples:
        Example 1:
          items:
            - kind: player
              entity_id: 4c86a500-d538-4b83-b321-d762533d7660
              valid_from: '2023-01-08T20:56:53.907384Z'
              valid_to: null
              data:
                attributeRatings:
                  - category: batting
                    name: sight
                    stars: 4
                  - category: batting
                    name: thwack
                    stars: 1
                  - category: batting
                    name: ferocity
                    stars: 2.5
                  - category: pitching
                    name: control
                    stars: 2
                  - category: pitching
                    name: stuff
                    stars: 3.5
                  - category: pitching
                    name: guile
                    stars: 4
                  - category: defense
                    name: reach
                    stars: 4
                  - category: defense
                    name: magnet
                    stars: 1.5
                  - category: defense
                    name: reflex
                    stars: 0.5
                  - category: running
                    name: hustle
                    stars: 3.5
                  - category: running
                    name: stealth
                    stars: 4
                  - category: running
                    name: dodge
                    stars: 4
                  - category: vibes
                    name: thrive
                    stars: 2.5
                  - category: vibes
                    name: survive
                    stars: 0.5
                  - category: vibes
                    name: drama
                    stars: 3.5
                attributes:
                  - name: Sight
                    value: 0.7655291865182458
                  - name: Thwack
                    value: 0.2340605934251808
                  - name: Ferocity
                    value: 0.5281312624109262
                  - name: Control
                    value: 0.3764987585816095
                  - name: Stuff
                    value: 0.7223366021412677
                  - name: Guile
                    value: 0.8337935629114297
                  - name: Reach
                    value: 0.7743603213074564
                  - name: Magnet
                    value: 0.341903543290216
                  - name: Reflex
                    value: 0.12067315210523556
                  - name: Hustle
                    value: 0.6507421211658799
                  - name: Stealth
                    value: 0.7676803577930377
                  - name: Dodge
                    value: 0.7925962512273648
                  - name: Thrive
                    value: 0.5306665316841898
                  - name: Survive
                    value: 0.05681198087583528
                  - name: Drama
                    value: 0.6868055337384391
                categoryRatings:
                  - name: batting
                    stars: 2.5
                  - name: pitching
                    stars: 3
                  - name: defense
                    stars: 2
                  - name: running
                    stars: 3.5
                  - name: vibes
                    stars: 2
                id: 4c86a500-d538-4b83-b321-d762533d7660
                items: []
                modifications: []
                name: Allan Kranch
                overallRating: 2.5
                playerHeatMaps:
                  - currentValue: 0.4273763882605576
                  - currentValue: 0.8738482446325971
                  - currentValue: 0.522146983473215
                  - currentValue: 0.6481397008493898
                  - currentValue: 0.3667245895914012
                  - currentValue: 0.9816483301850089
                  - currentValue: 0.09208324819495416
                  - currentValue: 0.04371331553765867
                  - currentValue: 0.764537776971937
                  - currentValue: 0.6111012719134039
                  - currentValue: 0.9218850653940964
                  - currentValue: 0.4032933812469437
                  - currentValue: 0.09828416885091672
                  - currentValue: 0.34907754457130513
                  - currentValue: 0.3947457643469898
                  - currentValue: 0.2330353701495318
                  - currentValue: 0.6685307590451642
                  - currentValue: 0.07479224113390748
                  - currentValue: 0.6203262520249236
                  - currentValue: 0.13612128425847703
                  - currentValue: 0.8869832670908174
                  - currentValue: 0.725340934386332
                  - currentValue: 0.32892452936858463
                  - currentValue: 0.4397805917323452
                  - currentValue: 0.8392549042823758
                  - currentValue: 0.5425339636176347
                  - currentValue: 0.6377966865450517
                  - currentValue: 0.3109470261942776
                  - currentValue: 0.8469587886230286
                  - currentValue: 0.6469705253789475
                  - currentValue: 0.7051412448579962
                  - currentValue: 0.5414293547038441
                  - currentValue: 0.11845652285579956
                  - currentValue: 0.3729372934263792
                  - currentValue: 0.10286519489142676
                  - currentValue: 0.7310433529778204
                positions:
                  - positionName: null
                    x: 3
                    'y': 5
                rosterSlots:
                  - active: true
                    location: ROTATION
                    orderIndex: 0
                team:
                  emoji: '0x1F32E'
                  id: 878c1bf6-0d21-4659-bfee-916c8314d69c
                  name: LA Unlimited Tacos
                  primaryColor: '#64376e'
                  secondaryColor: '#b063c1'
      description: Represents a player at a specific point in time.
      title: Player
      x-tags:
        - chronicler
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              kind:
                type: string
              entity_id:
                type: string
              valid_from:
                type: string
                format: date-time
              valid_to:
                type:
                  - string
                  - 'null'
                format: date-time
              data:
                type: object
                properties:
                  attributeRatings:
                    type: array
                    items:
                      type: object
                      properties:
                        category:
                          type: string
                        name:
                          type: string
                        stars:
                          type:
                            - integer
                            - number
                  attributes:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        value:
                          type: number
                  categoryRatings:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        stars:
                          type:
                            - integer
                            - number
                  id:
                    type: string
                  items:
                    type: array
                    items:
                      type: object
                  modifications:
                    type: array
                    items:
                      type: object
                  name:
                    type: string
                  overallRating:
                    type: number
                  playerHeatMaps:
                    type: array
                    items:
                      type: object
                      properties:
                        currentValue:
                          type: number
                  positions:
                    type: array
                    items:
                      type: object
                      properties:
                        positionName:
                          type: 'null'
                        x:
                          type: integer
                        'y':
                          type: integer
                  rosterSlots:
                    type: array
                    items:
                      type: object
                      properties:
                        active:
                          type: boolean
                        location:
                          type: string
                        orderIndex:
                          type: integer
                  team:
                    type: object
                    properties:
                      emoji:
                        type: string
                      id:
                        type: string
                      name:
                        type: string
                      primaryColor:
                        type: string
                      secondaryColor:
                        type: string
        next_page:
          type: string
    Team:
      type: object
      x-examples:
        Example 1:
          items:
            - kind: team
              entity_id: 53d473fb-ffee-4fd3-aa1c-671228adc592
              valid_from: '2023-01-11T21:53:14.021486Z'
              valid_to: null
              data:
                activeTeam: false
                attributes: []
                categoryRatings:
                  - name: defense
                    stars: null
                  - name: running
                    stars: null
                  - name: batting
                    stars: null
                  - name: pitching
                    stars: null
                deceased: false
                division: null
                emoji: '0x1f346'
                id: 53d473fb-ffee-4fd3-aa1c-671228adc592
                locationName: New Hampshire
                modifications: []
                name: New Hampshire Eggplants
                nickname: New Hampshire
                primaryColor: '#b0fdb8'
                roster:
                  - id: e25ba8a8-c084-4141-9022-508cc30f7f83
                    modifications:
                      - modification:
                          backgroundColor: null
                          color: null
                          description: null
                          icon: null
                          name: In the vault
                          textColor: null
                        playerId: e25ba8a8-c084-4141-9022-508cc30f7f83
                    name: Boyd English
                    overallRating: 3
                    rosterSlots: []
                  - id: 83634a49-7422-46fe-9afb-6346cca779e1
                    modifications:
                      - modification:
                          backgroundColor: null
                          color: null
                          description: null
                          icon: null
                          name: In the vault
                          textColor: null
                        playerId: 83634a49-7422-46fe-9afb-6346cca779e1
                    name: Santana Biederman
                    overallRating: 1.5
                    rosterSlots: []
                  - id: 7df00766-95a1-4a95-8018-608d69d58ac3
                    modifications:
                      - modification:
                          backgroundColor: null
                          color: null
                          description: null
                          icon: null
                          name: In the vault
                          textColor: null
                        playerId: 7df00766-95a1-4a95-8018-608d69d58ac3
                    name: Rocha Hernandez
                    overallRating: 2.5
                    rosterSlots: []
                  - id: 707c4a70-1184-4081-882b-6f70bbc961f6
                    modifications:
                      - modification:
                          backgroundColor: null
                          color: null
                          description: null
                          icon: null
                          name: In the vault
                          textColor: null
                        playerId: 707c4a70-1184-4081-882b-6f70bbc961f6
                    name: Reggie Moran
                    overallRating: 2.5
                    rosterSlots: []
                  - id: 2c029ec7-dfeb-4d4a-8cfd-6f78ab21c51a
                    modifications:
                      - modification:
                          backgroundColor: null
                          color: null
                          description: null
                          icon: null
                          name: In the vault
                          textColor: null
                        playerId: 2c029ec7-dfeb-4d4a-8cfd-6f78ab21c51a
                    name: Kevin Sharpe
                    overallRating: 2
                    rosterSlots: []
                  - id: 19b78612-65b2-4344-9f2d-c6cb232ef146
                    modifications:
                      - modification:
                          backgroundColor: null
                          color: null
                          description: null
                          icon: null
                          name: In the vault
                          textColor: null
                        playerId: 19b78612-65b2-4344-9f2d-c6cb232ef146
                    name: Pete Laabs
                    overallRating: 3
                    rosterSlots: []
                  - id: 4c8b4d54-a129-46bd-a1d5-46d3dd1757fc
                    modifications:
                      - modification:
                          backgroundColor: null
                          color: null
                          description: null
                          icon: null
                          name: In the vault
                          textColor: null
                        playerId: 4c8b4d54-a129-46bd-a1d5-46d3dd1757fc
                    name: Red Bartell
                    overallRating: 3
                    rosterSlots: []
                  - id: 71b1f994-3767-4c58-aace-b5ba1210d911
                    modifications:
                      - modification:
                          backgroundColor: null
                          color: null
                          description: null
                          icon: null
                          name: In the vault
                          textColor: null
                        playerId: 71b1f994-3767-4c58-aace-b5ba1210d911
                    name: Brooke Lingardo
                    overallRating: 3
                    rosterSlots: []
                  - id: 7529fdc0-aced-47a5-a9df-a17092c9c4ef
                    modifications:
                      - modification:
                          backgroundColor: null
                          color: null
                          description: null
                          icon: null
                          name: In the vault
                          textColor: null
                        playerId: 7529fdc0-aced-47a5-a9df-a17092c9c4ef
                    name: Mindy Omelette
                    overallRating: 3
                    rosterSlots: []
                  - id: 0a1c3949-8927-4eae-a189-f4e073955ba4
                    modifications:
                      - modification:
                          backgroundColor: null
                          color: null
                          description: null
                          icon: null
                          name: In the vault
                          textColor: null
                        playerId: 0a1c3949-8927-4eae-a189-f4e073955ba4
                    name: Buddy Herrold
                    overallRating: 2.5
                    rosterSlots: []
                  - id: 2246bedf-b53d-49f7-ac9e-e52abc1f38ea
                    modifications:
                      - modification:
                          backgroundColor: null
                          color: null
                          description: null
                          icon: null
                          name: In the vault
                          textColor: null
                        playerId: 2246bedf-b53d-49f7-ac9e-e52abc1f38ea
                    name: Joshua Berger
                    overallRating: 2.5
                    rosterSlots: []
                  - id: 7118ca3f-413d-4336-90d2-af8fbfc1e8f2
                    modifications:
                      - modification:
                          backgroundColor: null
                          color: null
                          description: null
                          icon: null
                          name: In the vault
                          textColor: null
                        playerId: 7118ca3f-413d-4336-90d2-af8fbfc1e8f2
                    name: Alison Horne
                    overallRating: 2.5
                    rosterSlots: []
                  - id: bda2eefc-17fa-4c64-abb6-993320e6a22a
                    modifications:
                      - modification:
                          backgroundColor: null
                          color: null
                          description: null
                          icon: null
                          name: In the vault
                          textColor: null
                        playerId: bda2eefc-17fa-4c64-abb6-993320e6a22a
                    name: Simone Valadez
                    overallRating: 3
                    rosterSlots: []
                  - id: c5d1e6f2-f8f7-48fe-bc3d-3aa42b44788d
                    modifications:
                      - modification:
                          backgroundColor: null
                          color: null
                          description: null
                          icon: null
                          name: In the vault
                          textColor: null
                        playerId: c5d1e6f2-f8f7-48fe-bc3d-3aa42b44788d
                    name: Claudio Balton
                    overallRating: 2.5
                    rosterSlots: []
                  - id: 56419d84-76be-4489-85f0-5635c010330e
                    modifications:
                      - modification:
                          backgroundColor: null
                          color: null
                          description: null
                          icon: null
                          name: In the vault
                          textColor: null
                        playerId: 56419d84-76be-4489-85f0-5635c010330e
                    name: Markel Tenderson
                    overallRating: 2.5
                    rosterSlots: []
                  - id: 81b9a3d2-3344-4b1e-8a08-7994aa640467
                    modifications:
                      - modification:
                          backgroundColor: null
                          color: null
                          description: null
                          icon: null
                          name: In the vault
                          textColor: null
                        playerId: 81b9a3d2-3344-4b1e-8a08-7994aa640467
                    name: Chip Alstott
                    overallRating: 2.5
                    rosterSlots: []
                  - id: 647e574b-5687-4d5b-9e5d-18fcbcdef5aa
                    modifications:
                      - modification:
                          backgroundColor: null
                          color: null
                          description: null
                          icon: null
                          name: In the vault
                          textColor: null
                        playerId: 647e574b-5687-4d5b-9e5d-18fcbcdef5aa
                    name: Francois Stegmann
                    overallRating: 3
                    rosterSlots: []
                  - id: ed78d22b-d4a3-4270-b2b0-c93f52f445c3
                    modifications:
                      - modification:
                          backgroundColor: null
                          color: null
                          description: null
                          icon: null
                          name: In the vault
                          textColor: null
                        playerId: ed78d22b-d4a3-4270-b2b0-c93f52f445c3
                    name: Jut Dembélé
                    overallRating: 2.5
                    rosterSlots: []
                  - id: c6d91e41-1509-4e5d-84cc-1d8af869d492
                    modifications:
                      - modification:
                          backgroundColor: null
                          color: null
                          description: null
                          icon: null
                          name: In the vault
                          textColor: null
                        playerId: c6d91e41-1509-4e5d-84cc-1d8af869d492
                    name: Keanu Highway
                    overallRating: 1.5
                    rosterSlots: []
                  - id: 5727610e-41f2-472c-80e2-56aa47993755
                    modifications:
                      - modification:
                          backgroundColor: null
                          color: null
                          description: null
                          icon: null
                          name: In the vault
                          textColor: null
                        playerId: 5727610e-41f2-472c-80e2-56aa47993755
                    name: Ridley Macintosh
                    overallRating: 2.5
                    rosterSlots: []
                  - id: 63d5845d-f077-44ca-91fd-e33ac85af560
                    modifications:
                      - modification:
                          backgroundColor: null
                          color: null
                          description: null
                          icon: null
                          name: In the vault
                          textColor: null
                        playerId: 63d5845d-f077-44ca-91fd-e33ac85af560
                    name: Blake Moss
                    overallRating: 2.5
                    rosterSlots: []
                  - id: b215ddc2-196c-4f45-8302-4104e516e530
                    modifications:
                      - modification:
                          backgroundColor: null
                          color: null
                          description: null
                          icon: null
                          name: In the vault
                          textColor: null
                        playerId: b215ddc2-196c-4f45-8302-4104e516e530
                    name: Geordi Tolleson
                    overallRating: 2.5
                    rosterSlots: []
                  - id: 42ac4519-eb2a-41bf-b85a-c75129776257
                    modifications:
                      - modification:
                          backgroundColor: null
                          color: null
                          description: null
                          icon: null
                          name: In the vault
                          textColor: null
                        playerId: 42ac4519-eb2a-41bf-b85a-c75129776257
                    name: Bistro Mustard
                    overallRating: 3.5
                    rosterSlots: []
                  - id: f1e81503-545c-40b1-ba8c-41ce5a673a4b
                    modifications:
                      - modification:
                          backgroundColor: null
                          color: null
                          description: null
                          icon: null
                          name: In the vault
                          textColor: null
                        playerId: f1e81503-545c-40b1-ba8c-41ce5a673a4b
                    name: Ohmar Eigengrau
                    overallRating: 2.5
                    rosterSlots: []
                secondaryColor: '#05d41e'
                shorthand: AUB
                slogan: Veg Out!
                standings: []
            - kind: team
              entity_id: 4d921519-410b-41e2-882e-9726a4e54a6a
              valid_from: '2023-01-11T21:53:14.021562Z'
              valid_to: null
              data:
                activeTeam: false
                attributes: []
                categoryRatings:
                  - name: defense
                    stars: 0
                  - name: running
                    stars: 0
                  - name: batting
                    stars: 0
                  - name: pitching
                    stars: 0
                deceased: false
                division: null
                emoji: '0x2744'
                id: 4d921519-410b-41e2-882e-9726a4e54a6a
                locationName: Cold Brew
                modifications: []
                name: Cold Brew Crew
                nickname: Cold Brew
                primaryColor: '#2a5e6c'
                roster: []
                secondaryColor: '#92c7d6'
                shorthand: CBC
                slogan: Blaseball Go Brrrrrr
                standings: []
            - kind: team
              entity_id: 49181b72-7f1c-4f1c-929f-928d763ad7fb
              valid_from: '2023-01-11T21:53:14.021625Z'
              valid_to: null
              data:
                activeTeam: false
                attributes: []
                categoryRatings:
                  - name: defense
                    stars: 0
                  - name: running
                    stars: 0
                  - name: batting
                    stars: 0
                  - name: pitching
                    stars: 0
                deceased: false
                division: null
                emoji: '0x1F3C6'
                id: 49181b72-7f1c-4f1c-929f-928d763ad7fb
                locationName: Latte
                modifications: []
                name: Atlético Latte
                nickname: Latte
                primaryColor: '#094f12'
                roster: []
                secondaryColor: '#36ad45'
                shorthand: AL
                slogan: Teamwork makes the steam work
                standings: []
      description: Represents a team at a specific point in time.
      x-tags:
        - chronicler
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              kind:
                type: string
              entity_id:
                type: string
              valid_from:
                type: string
                format: date-time
              valid_to:
                type:
                  - string
                  - 'null'
                format: date-time
              data:
                type: object
                properties:
                  activeTeam:
                    type: boolean
                  attributes:
                    type: array
                    items:
                      type: object
                  categoryRatings:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        stars:
                          type:
                            - integer
                            - 'null'
                  deceased:
                    type: boolean
                  division:
                    type: 'null'
                  emoji:
                    type: string
                  id:
                    type: string
                  locationName:
                    type: string
                  modifications:
                    type: array
                    items:
                      type: object
                  name:
                    type: string
                  nickname:
                    type: string
                  primaryColor:
                    type: string
                  roster:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        modifications:
                          type: array
                          items:
                            type: object
                            properties:
                              modification:
                                type: object
                                properties:
                                  backgroundColor:
                                    type: 'null'
                                  color:
                                    type: 'null'
                                  description:
                                    type: 'null'
                                  icon:
                                    type: 'null'
                                  name:
                                    type: string
                                  textColor:
                                    type: 'null'
                              playerId:
                                type: string
                        name:
                          type: string
                        overallRating:
                          type:
                            - integer
                            - number
                        rosterSlots:
                          type: array
                          items:
                            type: object
                  secondaryColor:
                    type: string
                  shorthand:
                    type: string
                  slogan:
                    type: string
                  standings:
                    type: array
                    items:
                      type: object
        next_page:
          type: string
    Flagsmith:
      title: Flagsmith
      x-stoplight:
        id: eojz7sw1apq6w
      type: object
      description: |-
        Represent flagsmith data at a specific point in time. Presumably, flagsmith data represents multiple feature flags, with information that relates to them.

        Since the nature of the data can be arbitrary, it's not listed in the schema. However, you can refer to the Examples section for an idea on what the data would look like.
      examples:
        - items:
            - kind: flagsmith
              entity_id: 00000000-0000-0000-0000-000000000000
              valid_from: '2023-01-15T18:14:43.192741Z'
              valid_to: null
              data:
                blingo: false
                blingoMobile: false
                bluejay: false
                cheering: false
                coverCta1:
                  button: ''
                  heading: Congratulations Shoe Thieves!
                  icon: 'https://blaseball-icons.s3.us-west-2.amazonaws.com/play+tab/shoethieves.png'
                  mobileRoute: ''
                  route: ''
                  subheading: Season 1 Champions
                coverCta2:
                  button: View Book
                  heading: The Book has been Opened
                  icon: 'https://blaseball-elections.s3.us-west-2.amazonaws.com/decrees_openForbiddenBook.png'
                  mobileRoute: ''
                  route: /thebook
                  subheading: Read it at your own risk
                coverCta3:
                  button: See Results
                  heading: Election Results are in
                  icon: 'https://blaseball-icons.s3.us-west-2.amazonaws.com/play+tab/election+icon.png'
                  mobileRoute: ''
                  route: /election
                  subheading: Catch up on what happened
                coverHeader: Offseason
                crow: false
                duck: false
                fallball: false
                fallballDropsFinished: false
                fallballDropsLive: false
                fallballQr: false
                flamingo: false
                forbiddenBook: true
                gameScheduleUi: false
                gameScheduleUiText: The next Season begins January 23rd
                goldfinch: false
                kestrel: false
                loggingGameWidget: false
                login: true
                mobileRedirect: false
                newLandingPage: false
                newVotesPage: false
                nighthawk: false
                onboarding: false
                onboardingModalBetting: true
                onboardingModalBettingJson:
                  bodyText:
                    - Here’s where you can see all the games that will be played this hour.
                    - Spend any number of your CHIPS to BET on teams you think will win!
                    - 'During ELECTIONS at the end of each week, you’ll be able to cash in your winnings for VOTES, which you can use to change Blaseball forever.'
                  buttonText: Got it
                  headerText: Betting
                onboardingModalCommunity: false
                onboardingModalCommunityJson:
                  bodyText:
                    - I'm the first paragraph
                    - I'm the second paragraph
                  buttonText: Got it
                  title: Community
                onboardingModalElections: true
                onboardingModalElectionsJson:
                  bodyText:
                    - ELECTIONS happen every Sunday. This is where every Blaseball Fan -- yourself included -- has a chance to permanently CHANGE THE GAME in big and small ways.
                    - 'Cash your CHIPS in for VOTES, and use them here to help your TEAM'
                  buttonText: Got it
                  headerText: Elections
                onboardingModalLeague: false
                onboardingModalLeagueJson:
                  bodyText:
                    - I'm the first paragraph
                    - I'm the second paragraph
                  buttonText: Got it
                  title: League
                onboardingModalPlayCover: true
                onboardingModalPlayCoverJson:
                  bodyText:
                    - This is the PLAY section. It shows you all the things you can do in Blaseball right now.
                    - 'Blaseball happens in real time, and you can only do some actions—like BETTING or VOTING—at certain times during the week.'
                  buttonText: Got it
                  headerText: Play
                onboardingModalSchedule: true
                onboardingModalScheduleJson:
                  bodyText:
                    - 'This is an overview of all the games that will be—and have been—played this season. '
                    - 'On weekdays, Blaseball games are played on the hour, almost every hour, 24 hours a day.'
                    - 'Choose a day at the top to see all the games being played that day.  If you see an interesting matchup, you can view those games and BET on them.'
                  buttonText: Got it
                  headerText: Daily Schedule
                onboardingModalWatch: true
                onboardingModalWatchJson:
                  bodyText:
                    - 'Regular season Blaseball is played on the hour, almost every hour, Monday through Friday.'
                    - 'Games are happening right now! Find games you’re interested in—your FAVORITE TEAM, or a big BET you placed—and follow along!'
                  buttonText: Got it
                  headerText: Watch Live
                onboardingUiV1: true
                onboardingUiV1Json:
                  - buttons:
                      - action: next
                        analyticEvent: it-begins
                        style: primary
                        text: WHAT
                    headerText: hey
                  - bodyText:
                      - style: primary
                        text: ''
                    buttons:
                      - action: next
                        analyticEvent: it-begins
                        style: primary
                        text: 'YES, FIRST TIME'
                      - action: next
                        analyticEvent: it-begins
                        style: primary
                        text: 'NO, I''VE PLAYED BEFORE'
                    headerText: new here?
                  - bodyText:
                      - style: primary
                        text: welcome to internet league blaseball
                    buttons:
                      - action: next
                        style: primary
                        text: THANKS!
                    headerText: great
                  - buttons:
                      - action: next
                        style: primary
                        text: OKAY
                    headerText: 'blaseball is an ongoing, live competitive sports league'
                  - buttons:
                      - action: next
                        style: primary
                        text: HOW?
                    headerText: 'together, you fans can change the game'
                  - buttons:
                      - action: next
                        style: primary
                        text: DEMOCRACY!
                    headerText: 'to do that, everyone votes in a weekly election'
                  - buttons:
                      - action: next
                        style: primary
                        text: GOTCHA
                    headerText: you can buy votes by cashing in chips
                  - buttons:
                      - action: next
                        style: primary
                        text: NO RISK NO REWARD!
                    headerText: earn chips by betting on games throughout the week
                  - buttons:
                      - action: next
                        style: primary
                        text: I'M ALL IN!
                    headerText: 'don''t worry, betting is free'
                  - buttons:
                      - action: next
                        style: primary
                        text: LET'S DO THAT
                    headerText: first you need to pick your favorite team
                  - bodyText:
                      - style: primary
                        text: you can change it later
                    headerText: choose the team you want to win it all
                    teamSelectEnabled: true
                  - bodyText:
                      - style: primary
                        text: that's your pick?
                    buttons:
                      - action: next
                        analyticEvent: confirmed-team
                        style: primary
                        text: 'YUP, I LOVE THEM!'
                      - action: back
                        analyticEvent: reselect-team
                        style: secondary
                        text: I CHANGED MY MIND
                    selectedTeamDisplayed: true
                  - buttons:
                      - action: complete
                        analyticEvent: finished-onboarding
                        style: primary
                        text: Play Ball!
                    headerText: 'great, time to play ball'
                oriole: false
                playTab: false
                playerAttributes: true
                playerStars: true
                postBodyPreview: true
                postFilterDropdown: false
                postMoreMenu: false
                postMultiline: true
                postReplies: false
                postSharing: false
                pusher: true
                secretFallball: false
                signup: true
                silverPeanut: false
                thirdPartyAuth: false
                userUsernames: false
                warbler: false
                woodpecker: false
          next_page: iPxy1SCOOhcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
      x-tags:
        - chronicler
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              kind:
                type: string
              entity_id:
                type: string
              valid_from:
                type: string
                format: date-time
              valid_to:
                type:
                  - string
                  - 'null'
                format: date-time
              data:
                type: object
                description: 'The data is somewhat arbitrary, but holds what seems like multiple feature flags.'
        next_page:
          type: string
    Ticker:
      type: object
      x-examples:
        Example 1:
          items:
            - kind: ticker
              entity_id: 00000000-0000-0000-0000-000000000000
              valid_from: '2023-01-09T11:38:24.594338Z'
              valid_to: null
              data:
                - expire: null
                  id: test
                  msg: YOU ARE NOW PARTICIPATING IN THE CULTURAL EVENT OF BLASEBALL
                - expire: null
                  id: test2
                  msg: I AM THE TICKER
                - expire: null
                  id: test3
                  msg: I HAVE BEEN REBOOTED
                - expire: null
                  id: test4
                  msg: REJOICE PLAY BALL
                - expire: null
                  id: test5
                  msg: PLAY NICE
                - expire: null
                  id: test6
                  msg: NO STEALING
                - expire: null
                  id: test7
                  msg: WHATS THAT ON THE HORIZON
          next_page: 0MCvCgWhOBcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
      description: Represents ticker data at a specific point in time.
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              kind:
                type: string
              entity_id:
                type: string
              valid_from:
                type: string
                format: date-time
              valid_to:
                type:
                  - string
                  - 'null'
                format: date-time
              data:
                type: array
                items:
                  type: object
                  properties:
                    expire:
                      type:
                        - string
                        - 'null'
                    id:
                      type: string
                    msg:
                      type: string
        next_page:
          type: string
      x-tags:
        - chronicler
    SeasonElections:
      type: object
      x-examples:
        Example 1:
          items:
            - kind: season_elections
              entity_id: cd1b6714-f4de-4dfc-a030-851b3459d8d1
              valid_from: '2023-01-15T18:00:27.995487Z'
              valid_to: null
              data:
                blessings:
                  - choiceType: blessing
                    description: Compete in the divine raffle
                    electionComplete: true
                    electionOptions:
                      - currentUserVotesPlaced: 0
                        dataInputFormat: {}
                        description: Steal the best Batter from the Black Hole for your Team.
                        electionGroupId: 4e6be0a4-a791-4df1-8eec-4b5ee9ca518d
                        icon: ''
                        iconSizes:
                          default: ''
                        id: 895ed802-7124-4f8e-b1e3-f80743f27c55
                        name: NEW Steal Best Batter
                        results:
                          - outcomeStrings:
                              - The Baltimore Crabs reaches into the Horizon and steals Tiera Wigdoubt.
                            overallVoteCount: 80680
                            resultType: blessing
                            topVoteCount: 8341
                            topVotedTeam:
                              emoji: '0x1F980'
                              id: 8d87c468-699a-47a8-b40d-cfb73a5660ad
                              name: Baltimore Crabs
                              nickname: Baltimore
                              primaryColor: '#593037'
                              secondaryColor: '#b05c6b'
                              shorthand: CRAB
                              slogan: Claws Up!
                            winningTeam:
                              emoji: '0x1F980'
                              id: 8d87c468-699a-47a8-b40d-cfb73a5660ad
                              name: Baltimore Crabs
                              nickname: Baltimore
                              primaryColor: '#593037'
                              secondaryColor: '#b05c6b'
                              shorthand: CRAB
                              slogan: Claws Up!
                            winningVoteCount: 8341
                        subheading: + BATTER
                        tags: []
                      - currentUserVotesPlaced: 0
                        dataInputFormat: {}
                        description: Max out a random Pitcher on your Team's Zone.
                        electionGroupId: 4e6be0a4-a791-4df1-8eec-4b5ee9ca518d
                        icon: ''
                        iconSizes:
                          default: ''
                        id: 1c5740ab-5cd2-4f75-aec7-b2585dfe137f
                        name: NEW Max Out Pitcher
                        results:
                          - outcomeStrings:
                              - Abner Pothos' entire Zone heats up.
                              - It's Red Hot!
                            overallVoteCount: 73414
                            resultType: blessing
                            topVoteCount: 6630
                            topVotedTeam:
                              emoji: '0x1F40C'
                              id: bb4a9de5-c924-4923-a0cb-9d1445f1ee5d
                              name: Ohio Worms
                              nickname: Ohio
                              primaryColor: '#5c4822'
                              secondaryColor: '#ba9c65'
                              shorthand: OHWO
                              slogan: 'Oh, Worm?'
                            winningTeam:
                              emoji: '0x1F5E3'
                              id: eb67ae5e-c4bf-46ca-bbbc-425cd34182ff
                              name: Canada Moist Talkers
                              nickname: Canada
                              primaryColor: '#f5feff'
                              secondaryColor: '#f5feff'
                              shorthand: CMT
                              slogan: 'Talk Spit, Get Hits'
                            winningVoteCount: 3048
                        subheading: + ZONE
                        tags: []
                      - currentUserVotesPlaced: 0
                        dataInputFormat: {}
                        description: Call the Alternates for your Team's 5 worst Players.
                        electionGroupId: 4e6be0a4-a791-4df1-8eec-4b5ee9ca518d
                        icon: ''
                        iconSizes:
                          default: ''
                        id: c20cb624-3c04-4252-9b41-c18d08a61086
                        name: NEW Randomize Players
                        results:
                          - outcomeStrings:
                              - Eddie Mulberry's Alternate is Called!
                              - Una Manhattan's Alternate is Called!
                              - Edric Tosser's Alternate is Called!
                              - Serge Shortvat's Alternate is Called!
                              - Eddie Mulberry's Alternate is Called!
                            overallVoteCount: 35545
                            resultType: blessing
                            topVoteCount: 7970
                            topVotedTeam:
                              emoji: '0x1F32E'
                              id: 878c1bf6-0d21-4659-bfee-916c8314d69c
                              name: LA Unlimited Tacos
                              nickname: Tacos
                              primaryColor: '#64376e'
                              secondaryColor: '#b063c1'
                              shorthand: TACO
                              slogan: 72° and Infinite
                            winningTeam:
                              emoji: '0x1F6A4'
                              id: b63be8c2-576a-4d6e-8daf-814f8bcea96f
                              name: Miami Dale
                              nickname: Miami
                              primaryColor: '#9141ba'
                              secondaryColor: '#cd76fa'
                              shorthand: DALE
                              slogan: ¡Dale!
                            winningVoteCount: 1017
                        subheading: ALTERNATE
                        tags: []
                      - currentUserVotesPlaced: 0
                        dataInputFormat: {}
                        description: Your Team's Defense and Running are boosted by 1 Star.
                        electionGroupId: 4e6be0a4-a791-4df1-8eec-4b5ee9ca518d
                        icon: ''
                        iconSizes:
                          default: ''
                        id: b9ea33e0-de4d-4fdf-98b5-55167126a4d7
                        name: Wind Sprints
                        results:
                          - outcomeStrings:
                              - The Yellowstone Magic' Lineup gains 1 Star of Defense and 1 Star of Running.
                            overallVoteCount: 214891
                            resultType: blessing
                            topVoteCount: 23524
                            topVotedTeam:
                              emoji: '0x2728'
                              id: 7966eb04-efcc-499b-8f03-d13916330531
                              name: Yellowstone Magic
                              nickname: Magic
                              primaryColor: '#bf0043'
                              secondaryColor: '#f60f63'
                              shorthand: YELL
                              slogan: 'As Above, So Below'
                            winningTeam:
                              emoji: '0x2728'
                              id: 7966eb04-efcc-499b-8f03-d13916330531
                              name: Yellowstone Magic
                              nickname: Magic
                              primaryColor: '#bf0043'
                              secondaryColor: '#f60f63'
                              shorthand: YELL
                              slogan: 'As Above, So Below'
                            winningVoteCount: 23524
                        subheading: + DEFENSE \n+ RUNNING
                        tags: []
                      - currentUserVotesPlaced: 0
                        dataInputFormat: {}
                        description: Send your Team's worst Player into the Black Hole and receive a random Player back.
                        electionGroupId: 4e6be0a4-a791-4df1-8eec-4b5ee9ca518d
                        icon: ''
                        iconSizes:
                          default: ''
                        id: b3656e69-e162-4de0-b4a0-b9310b3e3d1d
                        name: Yeet
                        results:
                          - outcomeStrings:
                              - The Hades Tigers yeets Eddie Tumblehome into the Horizon!
                              - The Black Hole Burps out Frazier Tosser in return.
                            overallVoteCount: 35266
                            resultType: blessing
                            topVoteCount: 5134
                            topVotedTeam:
                              emoji: '0x1F36C'
                              id: adc5b394-8f76-416d-9ce9-813706877b84
                              name: Kansas City Breath Mints
                              nickname: Kansas City
                              primaryColor: '#178f55'
                              secondaryColor: '#178f55'
                              shorthand: KCBM
                              slogan: 'Fresh Breath, Here We Come.'
                            winningTeam:
                              emoji: '0x1F405'
                              id: 747b8e4a-7e50-4638-a973-ea7950a3e739
                              name: Hades Tigers
                              nickname: Hades
                              primaryColor: '#5c1c1c'
                              secondaryColor: '#e83622'
                              shorthand: TGRS
                              slogan: Never Look Back.
                            winningVoteCount: 901
                        subheading: SWAP
                        tags: []
                      - currentUserVotesPlaced: 0
                        dataInputFormat: {}
                        description: Steal the best Pitcher in the Black Hole for your Team.
                        electionGroupId: 4e6be0a4-a791-4df1-8eec-4b5ee9ca518d
                        icon: ''
                        iconSizes:
                          default: ''
                        id: 1311e337-733b-4441-a017-9eb95b757ef4
                        name: NEW Steal Best Pitcher
                        results:
                          - outcomeStrings:
                              - The Charleston Shoe Thieves reaches into the Horizon and steals Derrick Krueger.
                            overallVoteCount: 97341
                            resultType: blessing
                            topVoteCount: 13838
                            topVotedTeam:
                              emoji: '0x1F3B8'
                              id: 105bc3ff-1320-4e37-8ef0-8d595cb95dd0
                              name: Seattle Garages
                              nickname: Seattle
                              primaryColor: '#2b4075'
                              secondaryColor: '#5a83ea'
                              shorthand: SEA
                              slogan: Park It!
                            winningTeam:
                              emoji: '0x1F45F'
                              id: bfd38797-8404-4b38-8b82-341da28b1f83
                              name: Charleston Shoe Thieves
                              nickname: Shoe Thieves
                              primaryColor: '#ffce0a'
                              secondaryColor: '#ffce0a'
                              shorthand: SHOE
                              slogan: Your Kicks are Our Kicks
                            winningVoteCount: 5505
                        subheading: + PITCHER
                        tags: []
                      - currentUserVotesPlaced: 0
                        dataInputFormat: {}
                        description: Max out a random Batter on your Team's Zone.
                        electionGroupId: 4e6be0a4-a791-4df1-8eec-4b5ee9ca518d
                        icon: ''
                        iconSizes:
                          default: ''
                        id: e84caaa5-25a8-4f05-995b-adc8e491dcc7
                        name: NEW Max Out Batter
                        results:
                          - outcomeStrings:
                              - Gumdrop Che Amran' entire Zone heats up.
                              - It's Red Hot!
                            overallVoteCount: 53767
                            resultType: blessing
                            topVoteCount: 6815
                            topVotedTeam:
                              emoji: '0x1F980'
                              id: 8d87c468-699a-47a8-b40d-cfb73a5660ad
                              name: Baltimore Crabs
                              nickname: Baltimore
                              primaryColor: '#593037'
                              secondaryColor: '#b05c6b'
                              shorthand: CRAB
                              slogan: Claws Up!
                            winningTeam:
                              emoji: '0x1f3cb'
                              id: c73b705c-40ad-4633-a6ed-d357ee2e2bcf
                              name: Tokyo Lift
                              nickname: Tokyo
                              primaryColor: '#821f60'
                              secondaryColor: '#e830ab'
                              shorthand: TKO
                              slogan: Heart and Swole
                            winningVoteCount: 1027
                        subheading: + ZONE
                        tags: []
                      - currentUserVotesPlaced: 0
                        dataInputFormat: {}
                        description: Your Team's Batting is boosted by 1 Star.
                        electionGroupId: 4e6be0a4-a791-4df1-8eec-4b5ee9ca518d
                        icon: ''
                        iconSizes:
                          default: ''
                        id: 7030b337-6c57-4494-a72d-5c6e350e5f4c
                        name: NEW Batting Boost
                        results:
                          - outcomeStrings:
                              - The Moab Hellmouth Sunbeams' Lineup gains 1 Star of Batting.
                            overallVoteCount: 166154
                            resultType: blessing
                            topVoteCount: 27220
                            topVotedTeam:
                              emoji: '0x1F405'
                              id: 747b8e4a-7e50-4638-a973-ea7950a3e739
                              name: Hades Tigers
                              nickname: Hades
                              primaryColor: '#5c1c1c'
                              secondaryColor: '#e83622'
                              shorthand: TGRS
                              slogan: Never Look Back.
                            winningTeam:
                              emoji: '0x1F31E'
                              id: f02aeae2-5e6a-4098-9842-02d2273f25c7
                              name: Moab Hellmouth Sunbeams
                              nickname: Sunbeams
                              primaryColor: '#fffbab'
                              secondaryColor: '#fffbab'
                              shorthand: SUN
                              slogan: Stare into the Sun...
                            winningVoteCount: 18887
                        subheading: + BATTING
                        tags: []
                      - currentUserVotesPlaced: 0
                        dataInputFormat: {}
                        description: Swap your worst Player out for someone in your Shadows.
                        electionGroupId: 4e6be0a4-a791-4df1-8eec-4b5ee9ca518d
                        icon: ''
                        iconSizes:
                          default: ''
                        id: c48e1216-3153-4585-879b-570ab612c2ef
                        name: Shadow Play
                        results:
                          - outcomeStrings:
                              - James Boy is called up to replace Yusef Puddles.
                              - Yusef Puddles retreats to the shadows...
                            overallVoteCount: 26542
                            resultType: blessing
                            topVoteCount: 4482
                            topVotedTeam:
                              emoji: '0x1F32E'
                              id: 878c1bf6-0d21-4659-bfee-916c8314d69c
                              name: LA Unlimited Tacos
                              nickname: Tacos
                              primaryColor: '#64376e'
                              secondaryColor: '#b063c1'
                              shorthand: TACO
                              slogan: 72° and Infinite
                            winningTeam:
                              emoji: '0x1F357'
                              id: 57ec08cc-0411-4643-b304-0e80dbc15ac7
                              name: Mexico City Wild Wings
                              nickname: Mexico City
                              primaryColor: '#883c17'
                              secondaryColor: '#ee6300'
                              shorthand: WWMX
                              slogan: Pase Lo Que Pase
                            winningVoteCount: 996
                        subheading: SWAP
                        tags: []
                      - currentUserVotesPlaced: 0
                        dataInputFormat: {}
                        description: Boost your Lineup's Thwack by 1 Star.
                        electionGroupId: 4e6be0a4-a791-4df1-8eec-4b5ee9ca518d
                        icon: ''
                        iconSizes:
                          default: ''
                        id: 322b4cb5-3008-4a82-92a3-94bea8b46538
                        name: Guess Whose Thwack
                        results:
                          - outcomeStrings:
                              - The Seattle Garages' Lineup gains 1 Star of Thwack.
                            overallVoteCount: 97734
                            resultType: blessing
                            topVoteCount: 12631
                            topVotedTeam:
                              emoji: '0x1F31E'
                              id: f02aeae2-5e6a-4098-9842-02d2273f25c7
                              name: Moab Hellmouth Sunbeams
                              nickname: Sunbeams
                              primaryColor: '#fffbab'
                              secondaryColor: '#fffbab'
                              shorthand: SUN
                              slogan: Stare into the Sun...
                            winningTeam:
                              emoji: '0x1F3B8'
                              id: 105bc3ff-1320-4e37-8ef0-8d595cb95dd0
                              name: Seattle Garages
                              nickname: Seattle
                              primaryColor: '#2b4075'
                              secondaryColor: '#5a83ea'
                              shorthand: SEA
                              slogan: Park It!
                            winningVoteCount: 10796
                        subheading: + THWACK
                        tags: []
                      - currentUserVotesPlaced: 0
                        dataInputFormat: {}
                        description: Boost a random Player on your Team's worst Attribute by 5 Stars.
                        electionGroupId: 4e6be0a4-a791-4df1-8eec-4b5ee9ca518d
                        icon: ''
                        iconSizes:
                          default: ''
                        id: dd5682d9-c11f-48b3-85c1-fed219b1fb2b
                        name: Shore Up
                        results:
                          - outcomeStrings:
                              - Svetlana Dickens shores up their worst Attribute!
                            overallVoteCount: 40398
                            resultType: blessing
                            topVoteCount: 4252
                            topVotedTeam:
                              emoji: '0x1F3DD'
                              id: 979aee4a-6d80-4863-bf1c-ee1a78e06024
                              name: Hawai'i Fridays
                              nickname: Hawai'i
                              primaryColor: '#3ee652'
                              secondaryColor: '#3ee652'
                              shorthand: FRI
                              slogan: It's Island Time!
                            winningTeam:
                              emoji: '0x1F3DD'
                              id: 979aee4a-6d80-4863-bf1c-ee1a78e06024
                              name: Hawai'i Fridays
                              nickname: Hawai'i
                              primaryColor: '#3ee652'
                              secondaryColor: '#3ee652'
                              shorthand: FRI
                              slogan: It's Island Time!
                            winningVoteCount: 4252
                        subheading: '- WEAKNESS'
                        tags: []
                      - currentUserVotesPlaced: 0
                        dataInputFormat: {}
                        description: Your Team is boosted Overall by 1/2 a Star.
                        electionGroupId: 4e6be0a4-a791-4df1-8eec-4b5ee9ca518d
                        icon: ''
                        iconSizes:
                          default: ''
                        id: acd4b001-5140-45b3-9bf0-ab144f1e0e2e
                        name: NEW Team Boost
                        results:
                          - outcomeStrings:
                              - The Boston Flowers gain 1/2 a Star Overall.
                            overallVoteCount: 200856
                            resultType: blessing
                            topVoteCount: 16802
                            topVotedTeam:
                              emoji: '0x1F32E'
                              id: 878c1bf6-0d21-4659-bfee-916c8314d69c
                              name: LA Unlimited Tacos
                              nickname: Tacos
                              primaryColor: '#64376e'
                              secondaryColor: '#b063c1'
                              shorthand: TACO
                              slogan: 72° and Infinite
                            winningTeam:
                              emoji: '0x1F339'
                              id: 3f8bbb15-61c0-4e3f-8e4a-907a5fb1565e
                              name: Boston Flowers
                              nickname: Boston
                              primaryColor: '#f7d1ff'
                              secondaryColor: '#f7d1ff'
                              shorthand: BOS
                              slogan: Let's Grow!
                            winningVoteCount: 9631
                        subheading: + OVERALL
                        tags: []
                      - currentUserVotesPlaced: 0
                        dataInputFormat: {}
                        description: A Division Rival will receive the worst Overall Player from the Black Hole.
                        electionGroupId: 4e6be0a4-a791-4df1-8eec-4b5ee9ca518d
                        icon: ''
                        iconSizes:
                          default: ''
                        id: 4cc766e1-e942-447f-b6f3-5915224d778c
                        name: Strike Zero
                        results:
                          - outcomeStrings:
                              - The Black Hole Burps out Shaquille Torres to the Chicago Firefighters!
                              - The Houston Spies receive Strike 1.
                            overallVoteCount: 12539
                            resultType: blessing
                            topVoteCount: 1015
                            topVotedTeam:
                              emoji: '0x1F3B8'
                              id: 105bc3ff-1320-4e37-8ef0-8d595cb95dd0
                              name: Seattle Garages
                              nickname: Seattle
                              primaryColor: '#2b4075'
                              secondaryColor: '#5a83ea'
                              shorthand: SEA
                              slogan: Park It!
                            winningTeam:
                              emoji: '0x1F575'
                              id: 9debc64f-74b7-4ae1-a4d6-fce0144b6ea5
                              name: Houston Spies
                              nickname: Spies
                              primaryColor: '#67556b'
                              secondaryColor: '#9e82a4'
                              shorthand: SPY
                              slogan: Bang BANG
                            winningVoteCount: 330
                        subheading: STRIKE RIVAL
                        tags: []
                      - currentUserVotesPlaced: 0
                        dataInputFormat: {}
                        description: Your Team's Pitching is boosted by 1 Star.
                        electionGroupId: 4e6be0a4-a791-4df1-8eec-4b5ee9ca518d
                        icon: ''
                        iconSizes:
                          default: ''
                        id: a92077bb-b09f-4f41-a806-00dd04137e22
                        name: NEW Pitching Boost
                        results:
                          - outcomeStrings:
                              - The Breckenridge Jazz Hands' Rotation gains 1 Star of Pitching.
                            overallVoteCount: 126862
                            resultType: blessing
                            topVoteCount: 14850
                            topVotedTeam:
                              emoji: '0x2728'
                              id: 7966eb04-efcc-499b-8f03-d13916330531
                              name: Yellowstone Magic
                              nickname: Magic
                              primaryColor: '#bf0043'
                              secondaryColor: '#f60f63'
                              shorthand: YELL
                              slogan: 'As Above, So Below'
                            winningTeam:
                              emoji: '0x1F450'
                              id: a37f9158-7f82-46bc-908c-c9e2dda7c33b
                              name: Broken Ridge Jazz Hands
                              nickname: Breckenridge
                              primaryColor: '#6388ad'
                              secondaryColor: '#7ba9d7'
                              shorthand: JAZZ
                              slogan: We’ve Got Winning to Do. Just for You.
                            winningVoteCount: 4280
                        subheading: + PITCHING
                        tags: []
                      - currentUserVotesPlaced: 0
                        dataInputFormat: {}
                        description: Sort your Lineup by Batting Rating.
                        electionGroupId: 4e6be0a4-a791-4df1-8eec-4b5ee9ca518d
                        icon: ''
                        iconSizes:
                          default: ''
                        id: 26fc7234-e667-42a4-9dbf-061714a86b92
                        name: Strong Start
                        results:
                          - outcomeStrings:
                              - The Core Mechanics optimized their Lineup!
                            overallVoteCount: 58154
                            resultType: blessing
                            topVoteCount: 16111
                            topVotedTeam:
                              emoji: '0x2728'
                              id: 7966eb04-efcc-499b-8f03-d13916330531
                              name: Yellowstone Magic
                              nickname: Magic
                              primaryColor: '#bf0043'
                              secondaryColor: '#f60f63'
                              shorthand: YELL
                              slogan: 'As Above, So Below'
                            winningTeam:
                              emoji: '0x1F6E0'
                              id: 46358869-dce9-4a01-bfba-ac24fc56f57e
                              name: Core Mechanics
                              nickname: Mechanics
                              primaryColor: '#d13100'
                              secondaryColor: '#ff5b29'
                              shorthand: MECH
                              slogan: We Can Fix This
                            winningVoteCount: 1272
                        subheading: OPTIMIZE
                        tags: []
                    endTimestamp: 1673805599000
                    icon: ''
                    iconSizes:
                      default: ''
                    id: 4e6be0a4-a791-4df1-8eec-4b5ee9ca518d
                    maximumAllowed: 1
                    name: Blessings
                    seasonId: cd1b6714-f4de-4dfc-a030-851b3459d8d1
                    startTimestamp: 1673276400000
                decrees:
                  - choiceType: decree
                    description: The future of Blaseball is in your hands. Choose Wisely.
                    electionComplete: true
                    electionOptions:
                      - currentUserVotesPlaced: 0
                        dataInputFormat: {}
                        description: It is Forbidden.
                        electionGroupId: 977790b3-561a-4ffd-9dbc-d11a98003680
                        icon: 'https://blaseball-elections.s3.us-west-2.amazonaws.com/decrees_openForbiddenBook.png'
                        iconSizes:
                          default: 'https://blaseball-elections.s3.us-west-2.amazonaws.com/decrees_openForbiddenBook.png'
                        id: 46ffef34-0d5f-4cf0-88df-b78e722b12d1
                        name: NEW Open the Forbidden Book
                        results:
                          - enacted: true
                            outcomeStrings:
                              - THE BOOK OPENS
                              - SOLAR ECLIPSE
                              - UMPIRES' EYES TURN WHITE
                              - STAR PLAYER ANASTASIA ISAROBOT IS INCINERATED. THEY ARE REPLACED ON THE MEXICO CITY WILD WINGS BY GÖRAN NDOYE.
                              - STAR PLAYER TERRELL BRADLEY'S ALTERNATE IS CALLED.
                              - STAR PLAYER ZEPHYR MCCLOUD IS CURSED. EYES CLEAR. HEART FILLS. THEY CAN'T LOSE.
                              - STAR PLAYER SIMON HALEY SWEARS IN. THEY EMBARK ON A SIDE QUEST IN THE SHADOWS. PIXIE CARBERRY CLOCKS IN.
                              - BRECKENRIDGE BREAKS
                              - THE CORONATION ERA BEGINS.
                            overallVoteCount: 428784
                            resultType: decree
                            winningVoteCount: -1
                        subheading: ''
                        tags: []
                      - currentUserVotesPlaced: 0
                        dataInputFormat: {}
                        description: 'At the end of every Season, the Champion will trade away all of their Players.'
                        electionGroupId: 977790b3-561a-4ffd-9dbc-d11a98003680
                        icon: 'https://blaseball-elections.s3.us-west-2.amazonaws.com/decrees_redistributeWealth.png'
                        iconSizes:
                          default: 'https://blaseball-elections.s3.us-west-2.amazonaws.com/decrees_redistributeWealth.png'
                        id: 64a6f351-931b-4db1-a55c-f660d1d1ffe6
                        name: NEW Redistribute Wealth
                        results: []
                        subheading: ''
                        tags: []
                      - currentUserVotesPlaced: 0
                        dataInputFormat: {}
                        description: 'At the end of every Season, the last place Team''s Roster will be replaced.'
                        electionGroupId: 977790b3-561a-4ffd-9dbc-d11a98003680
                        icon: 'https://blaseball-elections.s3.us-west-2.amazonaws.com/decrees_relegation.png'
                        iconSizes:
                          default: 'https://blaseball-elections.s3.us-west-2.amazonaws.com/decrees_relegation.png'
                        id: eb485a5b-68eb-46d2-aec4-b47096a5e5c6
                        name: NEW Relegation
                        results: []
                        subheading: ''
                        tags: []
                    endTimestamp: 1673805599000
                    icon: ''
                    iconSizes:
                      default: ''
                    id: 977790b3-561a-4ffd-9dbc-d11a98003680
                    maximumAllowed: 1
                    name: Decrees
                    seasonId: cd1b6714-f4de-4dfc-a030-851b3459d8d1
                    startTimestamp: 1673276400000
          next_page: GHu4t1mNOhcAAAAAAAAAAM0bZxT03k38oDCFGzRZ2NE=
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              kind:
                type: string
              entity_id:
                type: string
              valid_from:
                type: string
                format: date-time
              valid_to:
                type:
                  - string
                  - 'null'
                format: date-time
              data:
                type: object
                properties:
                  blessings:
                    type: array
                    items:
                      type: object
                      properties:
                        choiceType:
                          type: string
                        description:
                          type: string
                        electionComplete:
                          type: boolean
                        electionOptions:
                          type: array
                          items:
                            type: object
                            properties:
                              currentUserVotesPlaced:
                                type: integer
                              dataInputFormat:
                                type: object
                              description:
                                type: string
                              electionGroupId:
                                type: string
                              icon:
                                type: string
                              iconSizes:
                                type: object
                                properties:
                                  default:
                                    type: string
                              id:
                                type: string
                              name:
                                type: string
                              results:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    outcomeStrings:
                                      type: array
                                      items:
                                        type: string
                                    overallVoteCount:
                                      type: integer
                                    resultType:
                                      type: string
                                    topVoteCount:
                                      type: integer
                                    topVotedTeam:
                                      type: object
                                      properties:
                                        emoji:
                                          type: string
                                        id:
                                          type: string
                                        name:
                                          type: string
                                        nickname:
                                          type: string
                                        primaryColor:
[...]
