openapi: 3.0.0
info:
  title: Chronicler
  version: '1.0'
  contact:
    url: 'https://github.com/xSke/Chronicler'
  description: API for access to historical records.
servers:
  - url: 'https://api.sibr.dev/chronicler/v1'
paths:
  /games/updates:
    get:
      summary: Get game updates
      tags: []
      responses:
        '200':
          description: Note: blaseball game schema has evolved over time. Not every field is present for every game.
          content:
            application/json:
              schema:
                type: object
                properties:
                  nextPage:
                    type: string
                    description: Token for next Page
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/GameUpdate'
      operationId: GetGameUpdates
      description: Get game updates by filter
      parameters:
        - schema:
            type: integer
          in: query
          name: season
          description: Filter by season
        - schema:
            type: integer
          in: query
          name: day
          description: Filter by day
        - schema:
            type: string
          in: query
          name: game
          description: Filter by game ID (comma-separated)
        - schema:
            type: string
          in: query
          name: search
          description: Text search of game logs
        - schema:
            type: boolean
          in: query
          name: started
          description: Show only games that have started (or finished)
        - schema:
            type: string
            format: date-time
          in: query
          name: before
          description: Return only updates before this
        - schema:
            type: string
            format: date-time
          in: query
          name: after
          description: Return only updates after this
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
          in: query
          name: order
          description: Order to return results in
        - schema:
            type: integer
            minimum: 1
            maximum: 2000
            default: 100
          in: query
          name: count
          description: How many results to return
        - schema:
            type: integer
          in: query
          name: tournament
          description: Filter by tournament
        - schema:
            type: string
          in: query
          name: page
          description: Pagination Token
  /games:
    get:
      summary: Get games
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Game'
      operationId: GetGames
      parameters:
        - schema:
            type: integer
          in: query
          name: season
          description: Filter by season
        - schema:
            type: integer
          in: query
          name: day
          description: Filter by day
        - schema:
            type: boolean
          in: query
          name: outcomes
          description: Filter by outcomes present
        - schema:
            type: boolean
          in: query
          name: started
          description: Filter by whether game has started
        - schema:
            type: boolean
          in: query
          name: finished
          description: Filter by whether game has finished
        - schema:
            type: string
            format: uuid
          in: query
          name: team
          description: 'Filter by team ID (comma-separated, includes both home/away)'
        - schema:
            type: string
            format: uuid
          in: query
          name: pitcher
          description: 'Filter by pitcher ID (comma-separated, includes both home/away)'
        - schema:
            type: integer
          in: query
          name: weather
          description: 'Filter by weather (comma-separated, must be integer ID)'
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
          in: query
          name: order
          description: Order to return results in
        - schema:
            type: number
            minimum: 1
          in: query
          name: count
          description: How many results to return
        - schema:
            type: integer
          in: query
          name: tournament
          description: Filter by tournament
        - schema:
            type: string
            format: date-time
          in: query
          name: before
          description: Filter to games before timestamp
        - schema:
            type: string
            format: date-time
          in: query
          name: after
          description: Filter to games after timestamp
        - schema:
            type: string
            enum:
              - json
              - csv
            default: json
          in: query
          name: format
          description: Output format
      description: Get games by filter
  /players/names:
    get:
      summary: Get player names
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Example (truncated):
                  value:
                    020ed630-8bae-4441-95cc-0e4ecc27253b: Simon Haley
                    0295c6c2-b33c-47dd-affa-349da7fa1760: Combs Estes
                    03097200-0d48-4236-a3d2-8bdb153aa8f7: Bennett Browning
                    03b80a57-77ea-4913-9be4-7a85c3594745: Halexandrey Walton
                    03d06163-6f06-4817-abe5-0d14c3154236: Garcia Tabby
                    03f920cc-411f-44ef-ae66-98a44e883291: Cornelius Games
                    042962c8-4d8b-44a6-b854-6ccef3d82716: Ronan Jaylee
                    04f955fe-9cc9-4482-a4d2-07fe033b59ee: Zane Vapor
      operationId: GetPlayerNames
      description: Returns a simple mapping of all known player IDs to names
  /players:
    get:
      summary: Get players
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Player'
      operationId: GetPlayers
      description: Returns every known player
      parameters:
        - schema:
            type: boolean
          in: query
          name: forbidden
          description: Filter by players that have not seen active play
        - schema:
            type: boolean
          in: query
          name: incinerated
          description: Filter by deceased or non-deceased
        - schema:
            type: string
            enum:
              - json
              - csv
            default: json
          in: query
          name: format
          description: Output format
  /players/updates:
    get:
      summary: Get player updates
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  nextPage:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlayerUpdate'
      operationId: GetPlayerUpdates
      parameters:
        - schema:
            type: string
            format: uuid
          in: query
          name: player
          description: Filter by player IDs (comma-separated)
        - schema:
            type: string
            format: date-time
          in: query
          name: before
          description: Return only updates before this
        - schema:
            type: string
            format: date-time
          in: query
          name: after
          description: Return only updates after this
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
          in: query
          name: order
          description: Order of the returned updates
        - schema:
            type: integer
            minimum: 1
            default: 100
            maximum: 1000
          in: query
          name: count
          description: How many updates to return
        - schema:
            type: string
          in: query
          name: page
          description: Pagination Token
      description: Get player updates
  /site/updates:
    get:
      summary: Get site updates
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  nextPage:
                    type: string
                    description: Token for next page
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SiteUpdate'
      operationId: GetSiteUpdates
      parameters:
        - schema:
            type: string
            enum:
              - js
              - css
          in: query
          name: format
          description: Filter by file format
        - schema:
            type: string
          in: query
          name: before
          description: Return only updates before this
        - schema:
            type: string
          in: query
          name: after
          description: Return only updates after this
        - schema:
            type: string
          in: query
          name: page
          description: Pagination Token
        - schema:
            type: integer
            minimum: 1
          in: query
          name: count
          description: How many updates to return
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
          in: query
          name: order
          description: Order of the returned updates
      description: Get blaseball.com site updates
  /tributes/updates:
    get:
      summary: Get tribute updates
      tags: []
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  nextPage:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TributesUpdate'
              examples: {}
      operationId: GetTributesUpdates
      parameters:
        - schema:
            type: string
          in: query
          name: before
          description: Return only updates before this
        - schema:
            type: string
            format: uuid
          in: query
          name: after
          description: Return only updates after this
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
          in: query
          name: order
          description: Order of returned updates
        - schema:
            type: integer
            minimum: 1
            maximum: 1000
          in: query
          name: count
          description: How many updates to return
        - schema:
            type: string
            enum:
              - json
              - csv
            default: json
          in: query
          name: format
          description: Return as JSON or CSV?
        - schema:
            type: string
          in: query
          name: page
          description: Pagination Token
        - schema:
            type: string
          in: query
          name: players
          description: Filter by player IDs (comma-separated)
      description: Return tribute updates
    parameters: []
  /teams:
    get:
      summary: Get teams
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Team'
      operationId: GetTeams
      description: Get teams
  /teams/updates:
    get:
      summary: Get team updates
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  nextPage:
                    type: string
                    description: Token for next page
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TeamUpdate'
      operationId: GetTeamUpdates
      parameters:
        - schema:
            type: string
          in: query
          name: team
          description: Filter by team ID (comma-separated)
        - schema:
            type: string
            format: date-time
          in: query
          name: before
          description: Return only updates before this
        - schema:
            type: string
            format: date-time
          in: query
          name: after
          description: Return only updates after this
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
          in: query
          name: order
          description: Sort order of the returned updates
        - schema:
            type: integer
            minimum: 1
            maximum: 250
            default: 100
          in: query
          name: count
          description: Amount of updates to return
        - schema:
            type: string
          in: query
          name: page
          description: Pagination token
      description: Get team updates
  /time/map:
    get:
      summary: Get time mapping
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeMap'
      operationId: get-time-map
      description: Map in-game season/days to real-life timestamp ranges.
  /time/seasons:
    get:
      summary: Get season mapping
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSeason'
      operationId: get-time-seasons
      description: Map in-game seasons to real-life timestamp ranges.
  /roster/updates:
    get:
      summary: Get roster updates
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  nextPage:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RosterUpdate'
      operationId: get-roster-updates
      description: Get roster updates
      parameters:
        - schema:
            type: string
            format: date-time
          in: query
          name: before
          description: Return only updates before this
        - schema:
            type: string
            format: date-time
          in: query
          name: after
          description: Return only updates after this
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
          in: query
          name: order
          description: Sort order of the returned updates
        - schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
          in: query
          name: count
          description: Amount of updates to return
        - schema:
            type: string
          in: query
          name: player
          description: Filter by player ID (comma-separated)
        - schema:
            type: string
          in: query
          name: team
          description: Filter by team ID (comma-separated)
components:
  schemas:
    Game:
      title: Game
      type: object
      properties:
        gameId:
          type: string
          format: uuid
          description: Game ID
        startTime:
          type: string
          format: date-time
          description: Time when game started (null if future)
        endTime:
          type: string
          format: date-time
          description: Time when game ended (null if running/future)
        data:
          $ref: ../models/Game.v1.yaml
      required:
        - gameId
        - data
    GameUpdate:
      title: Game Update
      type: object
      properties:
        gameId:
          type: string
          description: Game ID
          format: uuid
        timestamp:
          type: string
          description: Timestamp of this update
          format: date-time
        hash:
          type: string
          description: Hash of the update data (as UUID)
          format: uuid
        data:
          $ref: ../models/Game.v1.yaml
      required:
        - gameId
        - timestamp
        - hash
        - data
    Player:
      title: Player
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Player ID
        lastUpdate:
          type: string
          description: Timestamp of last update to the player data
          format: date-time
        teamId:
          type: string
          description: 'Team this player is on, or null if not on team (eg. incinerated)'
          format: uuid
        position:
          type: string
          enum:
            - lineup
            - rotation
            - bullpen
            - bench
            - shadows
          example: lineup
          description: 'Position on team roster (lineup/rotation/etc), null if not on team'
        rosterIndex:
          type: integer
          description: 'Index of this player on the team roster (zero-indexed, local to each position), null if not on team'
        data:
          $ref: ../models/Player.v1.yaml
        forbidden:
          type: boolean
          description: True if player has not seen active play
      required:
        - id
        - lastUpdate
        - teamId
        - position
        - rosterIndex
        - data
    PlayerUpdate:
      title: Player Update
      type: object
      properties:
        playerId:
          type: string
          format: uuid
          description: Player ID
        firstSeen:
          type: string
          format: date-time
          description: First (consecutive) time we've seen this version
        lastSeen:
          type: string
          format: date-time
          description: Last (consecutive) time we've seen this version
        updateId:
          type: string
          format: uuid
          description: Hash of the player data
        data:
          $ref: ../models/Player.v1.yaml
      required:
        - playerId
        - firstSeen
        - lastSeen
        - updateId
        - data
    SiteUpdate:
      title: Site Update
      type: object
      properties:
        timestamp:
          type: string
          format: uuid
          description: Timestamp of this update
        path:
          type: string
          description: Relative path to the updated file
        hash:
          type: string
          format: uuid
          description: Hash of the file
        size:
          type: integer
          format: email
          description: File size in bytes
        downloadUrl:
          type: string
          description: Link to download this version of the file (relative to this API base)
          format: uri
      required:
        - timestamp
        - path
        - hash
        - size
        - downloadUrl
    TributesUpdate:
      title: Tributes Update
      type: object
      properties:
        updateId:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
          description: Timestamp of this tributes update
        players:
          type: object
          description: Dictionary of amount of peanuts for each player ID
    Team:
      title: Team
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Team ID
        lastUpdate:
          type: string
          format: date-time
          description: Timestamp of last update to the team data
        data:
          $ref: ../models/Team.v1.yaml
      required:
        - id
        - lastUpdate
        - data
    TeamUpdate:
      title: Team Update
      type: object
      properties:
        teamId:
          type: string
          description: Team ID
          format: uuid
        firstSeen:
          type: string
          description: First (consecutive) time we've seen this version
          format: date-time
        lastSeen:
          type: string
          description: Last (consecutive) time we've seen this version
          format: date-time
        updateId:
          type: string
          description: Hash of team data
          format: uuid
        data:
          $ref: ../models/Team.v1.yaml
      required:
        - teamId
        - firstSeen
        - lastSeen
        - updateId
        - data
    TimeMap:
      title: TimeMap
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              season:
                type: integer
              tournament:
                type: integer
              day:
                type: integer
              type:
                type: string
                description: 'Phase information (Note: Incorrect after Season 11)'
              startTime:
                type: string
                format: date-time
              endTime:
                type: string
                format: date-time
    TimeSeason:
      title: TimeSeason
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              season:
                type: integer
              tournament:
                type: integer
              startTime:
                type: string
                format: date-time
              seasonStartTime:
                type: string
                format: date-time
              postseasonStartTime:
                type: string
                format: date-time
              endTime:
                type: string
                format: date-time
              days:
                type: integer
    RosterUpdate:
      title: RosterUpdate
      type: object
      properties:
        playerId:
          type: string
          format: uuid
          description: Player ID
        teamId:
          type: string
          format: uuid
          description: Team ID
        position:
          type: string
          enum:
            - lineup
            - rotation
            - bullpen
            - bench
            - shadows
          description: 'Position on team roster (lineup/rotation/etc), null if not on team'
          example: lineup
        rosterIndex:
          type: integer
          description: 'Index of this player on the team roster (zero-indexed, local to each position), null if not on team'
        firstSeen:
          type: string
          format: date-time
          description: First (consecutive) time we've seen this version
        lastSeen:
          type: string
          format: date-time
          description: Last (consecutive) time we've seen this version
  securitySchemes: {}
