openapi: 3.1.0
x-stoplight:
  id: yzlb4hrm70o4t
info:
  title: Chronicler 2
  version: '0.0'
  summary: An API that shows periodic information regarding Blaseball.
  description: An API that shows periodic information regarding Blaseball.
  contact:
    name: Astrid
    url: 'https://github.com/xSke/Chronicler/tree/main'
servers:
  - url: 'https://api2.sibr.dev/chronicler/v0/'
paths:
  /versions:
    get:
      summary: Versions
      tags: []
      operationId: get-versions
      parameters:
        - schema:
            type: string
            enum:
              - player
              - game_bet_data
          in: query
          name: kind
          description: 'The kind of data to return. '
        - schema:
            type: string
            enum:
              - asc
              - desc
          in: query
          name: order
          description: How to sort the data.
      description: |
        Retrieve data of a certain *kind* chronologically. 

        Click on a specific kind to see what this endpoint would return.
        - [`player`](Chronicler2.v0.yaml/components/schemas/Player)
        - [`game_bet_data`](Chronicler2.v0.yaml/components/schemas/GameBetData)
  /game-events:
    get:
      summary: Game Events
      tags: []
      responses:
        '200':
          description: Schema may not be 100% accurate - `changedState` will have different values based on the event that occurred.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    game_id:
                      type: string
                    timestamp:
                      type: string
                    data:
                      type: object
                      properties:
                        changedState:
                          type: object
                          properties:
                            balls:
                              type: integer
                            baserunners:
                              type: array
                              items:
                                type: object
                                properties:
                                  base:
                                    type: integer
                                  id:
                                    type: string
                                  name:
                                    type: string
                            batter:
                              type: 'null'
                            started:
                              type: boolean
                            strikes:
                              type: integer
                        displayDelay:
                          type: integer
                        displayOrder:
                          type: integer
                        displayText:
                          type: string
                        displayTime:
                          type: string
                x-examples:
                  Example 1:
                    - game_id: 6df052eb-8f0e-432b-a6e5-98a4518a1607
                      timestamp: '2023-01-09T15:02:50.118Z'
                      data:
                        changedState: {}
                        displayDelay: 4
                        displayOrder: 0
                        displayText: Play Ball!
                        displayTime: '2023-01-09T15:02:50.118Z'
      operationId: get-game-events
      description: Retrieve past game events.
      parameters:
        - schema:
            type: string
          in: query
          name: search
          description: filter for specific keywords in events
        - schema:
            type: string
            enum:
              - asc
              - desc
          in: query
          name: order
  /entities:
    get:
      summary: Entities
      tags: []
      responses: {}
      operationId: get-entities
components:
  schemas:
    Player:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              kind:
                type: string
              entity_id:
                type: string
              valid_from:
                type: string
              valid_to:
                type: 'null'
              data:
                type: object
                properties:
                  attributeRatings:
                    type: array
                    items:
                      type: object
                      properties:
                        category:
                          type: string
                        name:
                          type: string
                        stars:
                          type:
                            - integer
                            - number
                  attributes:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        value:
                          type: number
                  categoryRatings:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        stars:
                          type:
                            - integer
                            - number
                  id:
                    type: string
                  items:
                    type: array
                    items:
                      type: object
                      properties: {}
                  modifications:
                    type: array
                    items:
                      type: object
                      properties: {}
                  name:
                    type: string
                  overallRating:
                    type: number
                  playerHeatMaps:
                    type: array
                    items:
                      type: object
                      properties:
                        currentValue:
                          type: number
                  positions:
                    type: array
                    items:
                      type: object
                      properties:
                        positionName:
                          type: 'null'
                        x:
                          type: integer
                        'y':
                          type: integer
                  rosterSlots:
                    type: array
                    items:
                      type: object
                      properties:
                        active:
                          type: boolean
                        location:
                          type: string
                        orderIndex:
                          type: integer
                  team:
                    type: object
                    properties:
                      emoji:
                        type: string
                      id:
                        type: string
                      name:
                        type: string
                      primaryColor:
                        type: string
                      secondaryColor:
                        type: string
      x-examples:
        Example 1:
          items:
            - kind: player
              entity_id: 4c86a500-d538-4b83-b321-d762533d7660
              valid_from: '2023-01-08T20:56:53.907384Z'
              valid_to: null
              data:
                attributeRatings:
                  - category: batting
                    name: sight
                    stars: 4
                  - category: batting
                    name: thwack
                    stars: 1
                  - category: batting
                    name: ferocity
                    stars: 2.5
                  - category: pitching
                    name: control
                    stars: 2
                  - category: pitching
                    name: stuff
                    stars: 3.5
                  - category: pitching
                    name: guile
                    stars: 4
                  - category: defense
                    name: reach
                    stars: 4
                  - category: defense
                    name: magnet
                    stars: 1.5
                  - category: defense
                    name: reflex
                    stars: 0.5
                  - category: running
                    name: hustle
                    stars: 3.5
                  - category: running
                    name: stealth
                    stars: 4
                  - category: running
                    name: dodge
                    stars: 4
                  - category: vibes
                    name: thrive
                    stars: 2.5
                  - category: vibes
                    name: survive
                    stars: 0.5
                  - category: vibes
                    name: drama
                    stars: 3.5
                attributes:
                  - name: Sight
                    value: 0.7655291865182458
                  - name: Thwack
                    value: 0.2340605934251808
                  - name: Ferocity
                    value: 0.5281312624109262
                  - name: Control
                    value: 0.3764987585816095
                  - name: Stuff
                    value: 0.7223366021412677
                  - name: Guile
                    value: 0.8337935629114297
                  - name: Reach
                    value: 0.7743603213074564
                  - name: Magnet
                    value: 0.341903543290216
                  - name: Reflex
                    value: 0.12067315210523556
                  - name: Hustle
                    value: 0.6507421211658799
                  - name: Stealth
                    value: 0.7676803577930377
                  - name: Dodge
                    value: 0.7925962512273648
                  - name: Thrive
                    value: 0.5306665316841898
                  - name: Survive
                    value: 0.05681198087583528
                  - name: Drama
                    value: 0.6868055337384391
                categoryRatings:
                  - name: batting
                    stars: 2.5
                  - name: pitching
                    stars: 3
                  - name: defense
                    stars: 2
                  - name: running
                    stars: 3.5
                  - name: vibes
                    stars: 2
                id: 4c86a500-d538-4b83-b321-d762533d7660
                items: []
                modifications: []
                name: Allan Kranch
                overallRating: 2.5
                playerHeatMaps:
                  - currentValue: 0.4273763882605576
                  - currentValue: 0.8738482446325971
                  - currentValue: 0.522146983473215
                  - currentValue: 0.6481397008493898
                  - currentValue: 0.3667245895914012
                  - currentValue: 0.9816483301850089
                  - currentValue: 0.09208324819495416
                  - currentValue: 0.04371331553765867
                  - currentValue: 0.764537776971937
                  - currentValue: 0.6111012719134039
                  - currentValue: 0.9218850653940964
                  - currentValue: 0.4032933812469437
                  - currentValue: 0.09828416885091672
                  - currentValue: 0.34907754457130513
                  - currentValue: 0.3947457643469898
                  - currentValue: 0.2330353701495318
                  - currentValue: 0.6685307590451642
                  - currentValue: 0.07479224113390748
                  - currentValue: 0.6203262520249236
                  - currentValue: 0.13612128425847703
                  - currentValue: 0.8869832670908174
                  - currentValue: 0.725340934386332
                  - currentValue: 0.32892452936858463
                  - currentValue: 0.4397805917323452
                  - currentValue: 0.8392549042823758
                  - currentValue: 0.5425339636176347
                  - currentValue: 0.6377966865450517
                  - currentValue: 0.3109470261942776
                  - currentValue: 0.8469587886230286
                  - currentValue: 0.6469705253789475
                  - currentValue: 0.7051412448579962
                  - currentValue: 0.5414293547038441
                  - currentValue: 0.11845652285579956
                  - currentValue: 0.3729372934263792
                  - currentValue: 0.10286519489142676
                  - currentValue: 0.7310433529778204
                positions:
                  - positionName: null
                    x: 3
                    'y': 5
                rosterSlots:
                  - active: true
                    location: ROTATION
                    orderIndex: 0
                team:
                  emoji: '0x1F32E'
                  id: 878c1bf6-0d21-4659-bfee-916c8314d69c
                  name: LA Unlimited Tacos
                  primaryColor: '#64376e'
                  secondaryColor: '#b063c1'
      description: ''
      title: versions/Player
      x-tags:
        - chronicler
        - versions
    GameBetData:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              kind:
                type: string
              entity_id:
                type: string
              valid_from:
                type: string
              valid_to:
                type: string
              data:
                type: object
                properties:
                  awayScore:
                    type: integer
                  awayTeamBetData:
                    type: object
                    properties:
                      currentOdds:
                        type: number
                      currentPayout:
                        type: integer
                      teamWon:
                        type: 'null'
                      userBetOdds:
                        type: 'null'
                      userBetPayout:
                        type: 'null'
                      userBetWager:
                        type: 'null'
                  awayTeamInfo:
                    type: object
                    properties:
                      emoji:
                        type: string
                      losses:
                        type: integer
                      pitcher:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                      primaryColor:
                        type: string
                      shorthand:
                        type: string
                      teamId:
                        type: string
                      wins:
                        type: integer
                  complete:
                    type: boolean
                  favoriteTeamMatch:
                    type: boolean
                  gameId:
                    type: string
                  homeScore:
                    type: integer
                  homeTeamBetData:
                    type: object
                    properties:
                      currentOdds:
                        type: number
                      currentPayout:
                        type: integer
                      teamWon:
                        type: 'null'
                      userBetOdds:
                        type: 'null'
                      userBetPayout:
                        type: 'null'
                      userBetWager:
                        type: 'null'
                  homeTeamInfo:
                    type: object
                    properties:
                      emoji:
                        type: string
                      losses:
                        type: integer
                      pitcher:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                      primaryColor:
                        type: string
                      shorthand:
                        type: string
                      teamId:
                        type: string
                      wins:
                        type: integer
                  userBetPlaced:
                    type: boolean
                  weather:
                    type: string
      x-examples:
        Example 1:
          items:
            - kind: game_bet_data
              entity_id: 018b7c6d-ae4c-46b2-8537-66317ceaf543
              valid_from: '2023-01-09T17:48:25.413754Z'
              valid_to: '2023-01-09T18:02:24.740502Z'
              data:
                awayScore: 0
                awayTeamBetData:
                  currentOdds: 0.42569935724399743
                  currentPayout: 0
                  teamWon: null
                  userBetOdds: null
                  userBetPayout: null
                  userBetWager: null
                awayTeamInfo:
                  emoji: '0x1F575'
                  losses: 0
                  pitcher:
                    id: 718dea1a-d9a8-4c2b-933a-f0667b5250e6
                    name: Margarito Nava
                  primaryColor: '#67556b'
                  shorthand: SPY
                  teamId: 9debc64f-74b7-4ae1-a4d6-fce0144b6ea5
                  wins: 2
                complete: false
                favoriteTeamMatch: false
                gameId: 018b7c6d-ae4c-46b2-8537-66317ceaf543
                homeScore: 0
                homeTeamBetData:
                  currentOdds: 0.5743006427560026
                  currentPayout: 0
                  teamWon: null
                  userBetOdds: null
                  userBetPayout: null
                  userBetWager: null
                homeTeamInfo:
                  emoji: '0x1F45F'
                  losses: 0
                  pitcher:
                    id: 7d388846-8f4c-407f-aacb-b844d2561c5e
                    name: Kit Adamses
                  primaryColor: '#ffce0a'
                  shorthand: SHOE
                  teamId: bfd38797-8404-4b38-8b82-341da28b1f83
                  wins: 2
                userBetPlaced: false
                weather: Horizon
      title: versions/GameBetData
      description: ''
      x-tags:
        - chronicler
        - versions
